modules = ["python-3.11", "nodejs-20", "web"]
run = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales"]

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"]

[[ports]]
localPort = 5000
externalPort = 80
